<!DOCTYPE html>
@{
    ViewData["Title"] = "ToDo List";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/js/build/static/css/main.e6c13ad2.css" />
}

<h1 class="d-flex mt-5 align-items-center justify-content-center">ToDo List</h1>
<div id="root"></div>
<script src="~/js/build/static/js/main.a817a468.js"></script>
<script src="~/js/build/static/js/453.a53b11f0.chunk.js"></script>
